<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDye7IHK5UJ5voRXTQjssO6LPtLDk-Unl4</string>
	<key>GCM_SENDER_ID</key>
	<string>204551453014</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.movieapp</string>
	<key>PROJECT_ID</key>
	<string>movieapp-575f4</string>
	<key>STORAGE_BUCKET</key>
	<string>movieapp-575f4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:204551453014:ios:96e66a74f789eb3d8c3ef7</string>
</dict>
</plist>